<script type="text/template" id="add_accounts">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicrow">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-15"></span> Mis Cuentas
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott-i">
				<div class="container">
					<div class="basicrow f-black roboto-r f-reg m-top-ii">
						<div class="autowcont">
							<div class="basicrow">
								<div class="basicrow allpads">
									Estas son las cuentas que le son facturadas. Si hay alguna que dio de baja recientemente y no desea tenerla disponible puede removerla. Si, por lo contrario, suscribió una nueva cuenta y no se encuentra en la lista, puede incluirla utilizando la sección Agregar Cuenta.
								</div>

								<div id="container_show-add-account" class="basicrow allpads">
									<div class="basicrow text-center">
										<div id="show-add-account" class="btns def-iv red centr vcenter rippleR" data-toggle="collapse" data-target="#add-account">
											<span class="tabcell">
												Agregar Cuenta&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
											</span>
										</div>
									</div>
								</div>

								<div id="add-account" class="collapse">
									<div class="basicrow allpads">
										<div class="basicrow m-bott roboto-b">
											Añadir cuentas:
										</div>
										Para a&ntilde;adir una cuenta, provea el n&uacute;mero de cuenta seg&uacute;n aparece en la factura (BAN por sus siglas en ingl&eacute;s) y los &uacute;ltimos 4 digitos del seguro Social del due&ntilde;o de la misma.
									</div>

									<div class="basicrow msidespad m-top-ii text-center">
										<div class="shortcont">
											<div class="basicrow">
												<div class="basicrow">
													<label class="label-f">
														N&uacute;mero de Cuenta
													</label>

													<input id="number" type="number" class="inp-f">
												</div>

												<div class="basicrow m-top-i">
													<label class="label-f">
														4 &uacute;ltimos n&uacute;meros del Seguro Social
													</label>

													<input id="ssn" type="password" style="-webkit-text-security:disc;" class="inp-f">
												</div>
											</div>
										</div>
									</div>

									<div class="basicrow m-top-ii allpads">
										<div class="basicrow">
											<div class="logline full"></div>
										</div>

										<div class="basicrow m-top-i">
											Las Cuentas marcadas como Principal ser&aacute; preseleccionada por el sistema en todos los procesos donde se solicite una cuenta. Solo una Cuenta puede ser configurada como principal.
										</div>

										<div class="basicrow m-top-i text-center">
											<input id="check-main" type="checkbox">
											<label for="check-main" class="roboto-b">Marcar esta cuenta como principal</label>
										</div>

										<div class="basicrow m-top-i">
											<div class="logline full"></div>
										</div>

										<div class="basicrow m-top-i text-center">
											<div id="save-account" class="btns def-iv gray centr vcenter">
												<span class="tabcell">
													Guardar Cuenta&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
											</div>
										</div>

										<div id="container_close-add-account" class="basicrow m-top-ii text-center">
											<div id="close-add-account" class="btns def-iv gray centr vcenter" data-toggle="collapse" data-target="#add-account">
												<span class="tabcell">
													Cancelar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="basicrow m-top">
									<div class="boxtbl">
										<div class="tab-tbar">
											<div class="frwds trds rline vcenter">
												<div class="tabcell">
													N&uacute;mero de Cuenta
												</div>
											</div>

											<div class="frwds trds rline vcenter">
												<div class="tabcell">
													Nombre de Usuario
												</div>
											</div>

											<div class="frwds trds vcenter">
												<div class="tabcell">
													Fecha de Asociaci&oacute;n
												</div>
											</div>
										</div>
									</div>

									<% _.each(fullAccounts, function(account, index) { %>

									<div class="basicrow">

										<div data-toggle="collapse" data-target="#ban<%= index %>" class="digs-box add-acc select-account" data-index="<%= index %>" >
											<div class="add-acc-ban vcenter">
												<div class="tabcell">
													<span class="roboto-m"><%= account.account %></span>
													<span class="roboto-1"><%= account.typeField %></span>
												</div>
											</div>

											<div class="roboto-m add-acc-name vcenter">
												<div class="tabcell">
													<%= account.accountName %>
												</div>
											</div>

											<div class="add-acc-date vcenter">
												<div class="tabcell">
													<span class="roboto-m"><%= account.registerDate %></span>
												</div>
											</div>

											<i id="star<%= index %>" data-index="<%= index %>" data-account="<%= account.Account %>" <%= account.defaultAccount ? 'class="select-default fa fa-star on"' : 'class="select-default fa fa-star"' %> aria-hidden="true"></i>

											<i class="fa fa-minus" aria-hidden="true"></i>

											<i class="fa fa-plus" aria-hidden="true"></i>
										</div>

										<div id="ban<%= index %>" class="collapse">
											<div class="basicrow allpads tabtopb f-black roboto-r f-reg">
												<div class="basicrow roboto-b">
													Tel&eacute;fonos Asociados
												</div>

												<div class="basicrow m-top-ii">
													Si cuenta con m&aacute;s de un n&uacute;mero de tel&eacute;fono, ahora podr&aacute; seleccionar uno como principal. La informaci&oacute;n de Consumo de este suscriptor ser&aacute; la que el sistema mostrar&aacute; en el Widget de Mi Claro APP y a donde llegaran las notificaciones.
												</div>

												<div class="basicrow text-center">

													<% _.each(account.subscribers, function(subscriber, position) { %>
													<% if (subscriber.show) { %>
													<div class="accs-telfs m-top-i">
														<span class="telf-choose">
															<input data-subscriber="<%= subscriber.subscriber %>" data-product="<%= subscriber.productType %>" id="s<%= subscriber.subscriber %>" name="group<%= index %>" type="radio" <%= subscriber.defaultSubcriber==true?'checked="checked"':'' %> >
															<label for="s<%= subscriber.subscriber %>" class="roboto-b"> <%= subscriber.subscriber %> </label>
														</span>
													</div>
													<% } %>
													<% }); %>

												</div>

												<% if (fullAccounts.length > 1) { %>

												<div class="basicrow m-top-i">
													<div class="logline full"></div>
												</div>

												<% } %>

												<div class=" m-top">

												</div>

												<div class="basicrow m-top-ii text-center">
													<div class="btns def-iv red centr vcenter rippleR save-changes" data-index="<%= index %>" data-account="<%= account.Account %>" id="save<%= index %>">
														<span class="tabcell">
															Guardar Cambios&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
														</span>
													</div>
												</div>

												<% if (fullAccounts.length > 1) { %>
												<div class="basicrow m-top-ii text-center">
													<div class="btns def-iv gray centr vcenter delete-account" data-index="<%= index %>" data-account="<%= account.Account %>" id="delete<%= index %>">
														<span class="tabcell">
															Eliminar Cuenta&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
														</span>
													</div>
												</div>

												<% } %>

												<div class="m-bott-ii">

												</div>

											</div>
										</div>
									</div>

									<% }); %>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>