<script type="text/template" id="club">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span><img src="images/icon_claro_club_3.png" style="height: 42px; width: auto; margin: 10px"></span>
							&nbsp;<img src="images/claro_club_title.png" style="height: 42px; width: auto;">
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="container" id="subscription">
						<a><img width="100%" src="images/claro_club_banner_android.jpg"></a>
					</div>
				</div>

				<div class="basicrow m-top lessm">
					<div class="container">
						<div class="basicrow m-top-i">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 roboto-l f-black text-justify">
									<span class="f-big less-f">&#191;Qu&eacute; es Claro Club&#63;</span><br/><br/>
									<span class="f-reg-i f-mgray">Programa de lealtad exclusivo para clientes de Claro que ofrece recompensas en restaurantes, entretenimiento, servicios, belleza y mucho más.  El cliente de Claro acumula dinero en compras realizadas en comercios que participen en Claro Club.</span>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center h-mtop">
									<img width="100%" src="images/new_claro_club_image.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow graybg">
					<div class="container">
						<div class="basicrow m-top m-bott-ii">
							<div class="basicrow f-big roboto-l f-black">
								&#191;Cómo Funciona&#63;
							</div>

							<div class="basicrow f-reg-i roboto-l f-mgray club-list m-top-u-iii">
								Para pertenecer al Claro Club tienes que:
								<ul>
									<li class="m-top-u-iii">Ser cliente activo de cualquier servicio de Claro.</li>
									<li class="m-top-u-iii">Descargar gratis el app de BUREA en tu tienda de aplicaciones Android o IOS.</li>
									<li class="m-top-u-iii">Valida tu número de teléfono y estarás listo para disfrutar de las ofertas exclusivas que llenarán tu bolsillo de mucho CASHBACK.</li>
									<li class="m-top-u-iii">Acceso a ofertas exclusivas solo para clientes con algún servicio de Claro.</li>
									<li class="m-top-u-iii">Las ofertas exclusivas estarán identificadas con el ícono que dice “Claro Club”.</li>
									<li class="m-top-u-iii">Redime la oferta que usaste, sube una foto de tu recibo de compra.</li>
									<li class="m-top-u-iii">En 72 horas o menos estaremos validando tu recibo y te acreditaremos el CASHBACK establecido en la oferta directito a tu cuenta de BUREA.</li>
								</ul>
							</div>

						</div>
					</div>
				</div>

				<div class="basicrow">
					<div class="container">
						<div class="basicrow m-top m-bott">
							<div class="basicrow f-big roboto-l f-black m-top">
								&#191;Necesitas Ayuda&#63;
							</div>

							<div class="basicrow m-top-i">
								<div class="row refdef">
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="basicrow text-center">
											<img width="100%" class="ref-icons" src="images/netflixicon1.png">
										</div>

										<div class="basicrow f-black roboto-r f-reg text-center m-top">
											<div class="basicrow f-bmed roboto-b">
												T&eacute;rminos y Condiciones
											</div>

											<div class="basicrow m-top" id="show-terms">
												Consulta en esta sección los Términos & Condiciones para el servicio de Claro Club.<br/><br/>

												<a class="linkdefs">Ver Detalle&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">
										<div class="basicrow text-center">
											<img width="100%" class="ref-icons" src="images/ico_preguntasFrecuentes.png">
										</div>

										<div class="basicrow f-black roboto-r f-reg text-center m-top">
											<div class="basicrow f-bmed roboto-b">
												Preguntas Frecuentes
											</div>

											<div class="basicrow m-top" id="faq">
												Te invitamos a que visites esta sección para que aclares algunas de las dudas más comunes.<br/><br/>

												<a class="linkdefs">Ver Detalle&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<% include footer %>

	</div>

</script>
