<script type="text/template" id="data_packages">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="acctypescont text-center">
					<div class="acctype on">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/postpaid-icon.png"> Postpago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/prepaid-icon.png"> Prepago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/fixedphone-icon.png"> Telefon&iacute;a Fija
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-08"></span> Paquetes Adicionales de Datos
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel">
								<option>1727704700</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="autowcont notopbrd">
						<div data-toggle="collapse" data-target="#mserv1" class="digs-box vcenter">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l">M&Oacute;VIL</span> <span class="roboto-m">(787) 123-0000</span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="mserv1" class="collapse">
							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicr-line f-big">
									Plan Actual
								</div>

								<div class="basicrow m-top-i">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<div class="userinfo full nomtops">
												<div class="basicrow">
													<div class="basicrow f-bmed roboto-b m-bott">
														Detalle del Plan
													</div>

													<div class="redstat">
														<div class="autorow roboto-r pull-left">
															Plan Actual
														</div>

														<div class="autorow roboto-b pull-right">
															IM Ilimitado PUJ 5GB PR
														</div>
													</div>
												</div>
											</div>

											<div class="autowcont m-top-ii">
												<div class="basicrow msidespad m-bott-i">
													<div class="b-title">
														<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
															<div class="tabcell">
																Consumo Actual
															</div>
														</div>
													</div>

													<div class="basicrow">
														<div class="row">
															<div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
																<div class="basicrow f-mini f-black roboto-r">
																	<span class="roboto-b">Plan Actual:</span><br/>
																	Plan Voz, SMS/MMS, LDI Ilimitado a Usa, Roaming y Data de 5GB
																</div>

																<div class="barlinedef">
																	<div class="compfill"></div>
																</div>

																<div class="basicrow f-mini f-black roboto-r text-right">
																	694.84 MB DE 5 GB USADOS
																</div>
															</div>
														</div>
													</div>

													<div class="basicrow m-top-i">
														<div class="row">
															<div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
																<div class="basicrow f-mini f-black roboto-r">
																	<span class="roboto-b">Data Roaming</span>
																</div>

																<div class="barlinedef">
																</div>

																<div class="basicrow f-mini f-black roboto-r text-right">
																	0 MB USADOS
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<div class="autowcont cyclefact">
												<div class="basicrow msidespad m-bott-i">
													<div class="b-title">
														<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
															<div class="tabcell">
																Ciclo de Facturaci&oacute;n
															</div>
														</div>
													</div>

													<div class="basicrow">
														<div class="row">
															<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-i">
																<div class="basicrow f-reg f-black roboto-r text-center">
																	<span class="roboto-b">Ciclo de Facturaci&oacute;n</span><br/>
																	<span class="roboto-b f-mgray">Sept 10 a Oct 09</span>
																</div>

																<div class="basicrow text-center m-top-ii">
																	<img width="116" height="116" src="images/quedandiasgraph.jpg">
																</div>
															</div>

															<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-i">
																<div class="basicrow f-reg f-black roboto-r text-center">
																	<span class="roboto-b">Su Factura Vence</span><br/>
																	<span class="roboto-b f-big">Octubre, 09</span>
																</div>

																<div class="basicrow f-reg f-black roboto-r text-center m-top">
																	Cliente Claro desde<br/>
																	<span class="roboto-b">08/12/2017</span>
																</div>

																<div class="basicrow m-top text-center">
																	<a href="#" class="linkdefs">Ver Detalle&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="basicr-line f-big m-top-i">
									Planes de Datos Adicionales
								</div>
							</div>

							<!-- [INIT CAROUSEL PLANES EN WEB] -->
							<div id="myCarousel" class="basicrow carousel slide hidden-xs" data-interval="false" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators" style="display: none;">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;4.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster Recurrente 250MB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;4.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster 250MB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;9.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster Recurrente 1GB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;4.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster Recurrente 250MB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;4.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster 250MB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;9.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster Recurrente 1GB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel" data-slide="prev">
									      <span class="glyphicon glyphicon-chevron-left">
									      	<i class="fa fa-angle-left" aria-hidden="true"></i>
									      </span>
								</a>
								<a class="right carousel-control" href="#myCarousel" data-slide="next">
									      <span class="glyphicon glyphicon-chevron-right">
									      	<i class="fa fa-angle-right" aria-hidden="true"></i>
									      </span>
								</a>
							</div>
							<!-- [END CAROUSEL PLANES EN WEB] -->

							<!-- [INIT CAROUSEL PLANES EN MOVIL] -->
							<div id="myCarousel2" class="basicrow carousel slide visible-xs" data-interval="false" data-ride="carousel2">
								<!-- Indicators -->
								<ol class="carousel-indicators" style="display: none;">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;4.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster Recurrente 250MB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;4.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster 250MB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;9.99
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b text-center">
																Booster Recurrente 1GB
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
									      <span class="glyphicon glyphicon-chevron-left">
									      	<i class="fa fa-angle-left" aria-hidden="true"></i>
									      </span>
								</a>
								<a class="right carousel-control" href="#myCarousel2" data-slide="next">
									      <span class="glyphicon glyphicon-chevron-right">
									      	<i class="fa fa-angle-right" aria-hidden="true"></i>
									      </span>
								</a>
							</div>
							<!-- [END CAROUSEL PLANES EN MOVIL] -->
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer_rights %>

	</div>

</script>
