<script type="text/template" id="device">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<% if (!dsl) { %>
							<span class="icon-dash-25"></span> Mis Equipos y Servicios
							<% } else { %>
							<span class="icon-dash-25"></span> Mis Servicios
							<% } %>
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">

				<div class="container">
					<% if (!dsl) { %>
					<div class="basicrow mbott">
						<div class="difftabs">
							<div id="details-plan" class="difft-def half on">
								Detalle de Tu Plan
							</div>

							<div id="details-device" class="difft-def half">
								Consulta tu equipo
							</div>
						</div>
					</div>
					<% } %>
					<div class="autowcont notopbrd list-plan">

						<% _.each(subscribers, function(subscriberObj, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#subscriber-plan<%= subscriberIndex %>" class="digs-box vcenter select-subscriber-plan" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriberObj.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriberObj.productTypeField) %></span> <span class="roboto-m"><%= formatNumber(subscriberObj.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="subscriber-plan<%= subscriberIndex %>" class="collapse">
							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicr-line f-big">
									Plan Actual
								</div>

								<div class="basicrow m-top-i">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<div class="userinfo full nomtops">
												<div class="basicrow m-bott">
													<div class="basicrow f-bmed roboto-b m-bott">
														Detalle del Plan
													</div>

													<div class="redstat">
														<div class="autorow roboto-r pull-left plan-name">
															Plan Actual
														</div>

														<div class="autorow roboto-b pull-right plan-amount">
															&#36;0.0
														</div>
													</div>
												</div>

												<div class="basicrow m-top-ii">
													<div class="basicrow f-reg roboto-b">
														Descripci&oacute;n del Plan:
													</div>

													<div class="plan-packs">

													</div>

												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<div class="basicrow equipment-installments">
												<div class="userinfo full">
													<div class="basicrow">
														<div class="basicrow f-bmed roboto-b m-bott">
															Equipo a Plazos
														</div>

														<div class="redstat">
															<div class="autorow roboto-r pull-left equipment-name">
																Equipment Name
															</div>

															<div class="autorow roboto-b pull-right equipment-quota">
																&#36;0.00
															</div>
														</div>

														<div class="redstat m-top-ii">
															<div class="autorow roboto-r pull-left">
																Pagos restantes de Equipo
															</div>

															<div class="autorow roboto-b pull-right equipment-remaining">
																&#36;0.00
															</div>
														</div>
													</div>
													<div class="basicrow m-top" style="display: none">
														<div class="btns red def-i vcenter rippleR btn-pay-quota" data-index="<%= subscriberIndex %>">
															<span class="tabcell">
																Pagar Equipo&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
															</span>
														</div>
													</div>
												</div>
											</div>

											<div class="basicrow m-top-i lessm-i additional-services">
												<div class="userinfo full">
													<div class="basicrow additional-services-content">
														<div class="basicrow f-bmed roboto-b m-bott-ii">
															Servicios Adicionales
														</div>

														<div class="redstat m-top-ii">
															<div class="autorow roboto-r pull-left">
																High PDA
															</div>

															<div class="autorow roboto-b pull-right">
																&#36;11.99
															</div>
														</div>

														<div class="redstat m-top-ii">
															<div class="autorow roboto-r pull-left">
																CeluHogar
															</div>

															<div class="autorow roboto-b pull-right">
																&#36;4.95
															</div>
														</div>

														<div class="redstat m-top-ii">
															<div class="autorow roboto-r pull-left">
																Serv. Asist. Carretera
															</div>

															<div class="autorow roboto-b pull-right">
																&#36;3.95
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="basicrow m-top-i">
									<div class="logline full"></div>

									<div class="basicrow m-top text-center">
										<div class="servs-monthly">
											<div class="basicrow">
													<span class="roboto-b">
														Renta Mensual
													</span><br/>

												<span class="f-red f-semi roboto-m total-rent">
														&#36;0.00
													</span>
											</div>

											<% if (selectedAccount.guest == false) { %>
											<div class="basicrow m-top-ii">
												<div class="btns red vcenter rippleR btn-change-plan">
													<span class="tabcell">
														Cambiar de Plan&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<% } %>
										</div>
									</div>
								</div>
							</div>
						</div>

						<% });  %>

					</div>

					<div class="autowcont notopbrd list-device" style="display: none;">

						<% _.each(subscribers, function(subscriberObj, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#subscriber-device<%= subscriberIndex %>" class="digs-box vcenter select-subscriber-device" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriberObj.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriberObj.productTypeField) %></span> <span class="roboto-m"><%= formatNumber(subscriberObj.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="subscriber-device<%= subscriberIndex %>" class="collapse">
							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicr-line f-big">
									Caracter&iacute;sticas de Tu Equipo
								</div>

								<div class="basicrow m-top-i">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
											<div class="row">
												<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 text-center">
													<img width="100%" class="ph-equip equipment-photo">
												</div>

												<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 h-mtop-ii">
													<div class="basicrow f-big equipment-name">
														NOMBRE DEL EQUIPO
													</div>

													<div class="basicrow m-top">
														<div class="userinfo nomtops full">
															<div class="basicrow">
																<div class="basicrow f-bmed roboto-b">
																	Caracter&iacute;sticas
																</div>

																<div class="redstat m-top-ii">
																	<div class="autorow roboto-r pull-left">
																		IMEI
																	</div>

																	<div class="autorow roboto-b pull-right equipment-imei">
																		000000000000000
																	</div>
																</div>

																<div class="redstat m-top-ii container-brand">
																	<div class="autorow roboto-r pull-left">
																		Marca
																	</div>

																	<div class="autorow roboto-b pull-right equipment-brand">
																		Motorola
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<% });  %>

					</div>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
