<script type="text/template" id="fault_report_c">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-13"></span> Reporte de Aver&iacute;as
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow m-top-i m-bott text-center">
						<div class="stepsvone">
							<div class="stepautoc first">
								Tipo de Aver&iacute;a

								<div class="stepcirc text-center">
									<div class="circ-in"></div>
								</div>
							</div>

							<div class="stepautoc middle">
								Solo L&iacute;nea
								<div class="stepcirc">
									<div class="circ-in"></div>
								</div>
							</div>

							<div class="stepautoc on last">
								Confirmaci&oacute;n
								<div class="stepcirc">
									<div class="circ-in"></div>
								</div>
							</div>

							<div class="stepsline"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-ii">
				<div class="container">
					<div class="autowcont notopbrd m-top-ii">
						<div class="subgtitle">
							<span class="roboto-b"><%= subscriber %></span>
						</div>

						<div class="basicrow allpads f-reg roboto-r f-black">
							<div class="basicrow text-center m-top-u">
								<div class="basicrow">
									Se ha creado existosamente un Reporte al Tlf. <%= subscriber %>
								</div>

								<div class="basicrow roboto-b m-top">
									Su Nro. de Reporte es 555555
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top">
								<div class="btns def-i red centr vcenter" id="ok_action">
									<span class="tabcell">
										Ok
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
