<script type="text/template" id="fixed_failure_report">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

				<% include navmenu %>

					<div class="w-cont din-b f-white">
						<div class="container">
							<span class="f-med">Reporte de Avería</span>
						</div>
					</div>

					<div class="basicrow">
						<div class="container">
							<div class="basicrow f-little din-b m-top-ii">
								N&uacute;mero de Cuenta
							</div>

                            <div class="tabcell">
                                <span class="f-med f-black"><%= selectedAccountValue %></span>
							</div>
						</div>
					</div>

					<div class="lineb m-top">
						<% _.each(subscribers, function(value, index) {
								if(typeOfTelephony(value.ProductType) == "Fijo"){
						%>
							<div class="phonebar select-subscriber" data-index="<%= index %>" data-subscribers="<%= value.subscriber %>" id="select-subscriber-<%= index %>" data-search-info="false" onclick="return false;">
								<div class="container rel vcenter">
									<div class="tabcell">
										<span class="f-med f-black"><%= value.subscriber %></span><br/>
										<span class="f-reg f-gray"><%= typeOfTelephony(value.ProductType) %></span>
									</div>
								</div>
							</div>

							<div id="phone<%= index %>" >

								<div class="basicrow">
									<div class="autobar diffr">
										<div class="container">
											<div class="din-r text-center f-med vcenter on tr-step-i">
												<div class="tabcell">
													<img class="rarrow" width="100%" src="images/red-arrow.png"> Paso 1
												</div>
											</div>

											<div class="din-r text-center f-med vcenter tr-step-ii">
												<div class="tabcell">
													<img class="rarrow" width="100%" src="images/red-arrow.png"> Paso 2
												</div>
											</div>

											<div class="din-r text-center f-med vcenter tr-step-iii">
												<div class="tabcell">
													<img class="rarrow" width="100%" src="images/red-arrow.png"> Paso 3
												</div>
											</div>
										</div>
									</div>

									<% if (showStep1) { %>
										<div class="subtitle nbott din-b f-little text-center f-black vcenter">
											<div class="tabcell">
												TIPO DE AVER&Iacute;A
											</div>
										</div>

										<div class="autobar diffr">
											<div class="container">
												<div class="basicrow">
													<div class="basicrow f-reg f-black text-justify">
														Por favor, especifique el tipo de aver&iacute;a que desea reportar, sea por su L&iacute;nea Fija o su L&iacute;nea Fija + DSL.
													</div>
												</div>
											</div>
										</div>

										<div class="planspc dheight input-check-container">
											<div class="container norel">
												<div class="spc-i vcenter">
													<div class="tabcell">
														<input type="checkbox" name="type" id="typeLine1" class="css-checkbox2 css-checkbox" value="LINE" />
													</div>
												</div>

												<div class="spc-ii f-reg f-bold text-justify vcenter">
													<div class="tabcell">
														<label for="typeLine1">Solo l&iacute;nea</label>
													</div>
												</div>
											</div>
										</div>

										<div class="planspc dheight input-check-container">
											<div class="container norel">
												<div class="spc-i vcenter">
													<div class="tabcell">
														<input type="checkbox" name="type" id="typeLine2" class="css-checkbox2 css-checkbox" value="LINE+DSL" />
													</div>
												</div>

												<div class="spc-ii f-reg f-bold text-justify vcenter">
													<div class="tabcell">
														<label for="typeLine2">L&iacute;nea + DSL</label>
													</div>
												</div>
											</div>
										</div>

										<div class="autobar diff no-bord">
											<div class="container">
												<div class="r-btn text-center f-med f-white vcenter" id="continue-1">
													<div class="tabcell">
														Continuar
													</div>
												</div>
                                                <div class="g-btn text-center f-med f-white vcenter btn-back">
                                                    <div class="tabcell">
                                                        Cancelar
                                                    </div>
                                                </div>
											</div>
										</div>
										<% } %>
											<% if (showStep2) { %>
												<% if (typeReport == "LINE") { %>
													<div class="subtitle nbott din-b f-little text-center f-black vcenter">
														<div class="tabcell">
															L&Iacute;NEA FIJA
														</div>
													</div>

													<div class="autobar diffr">
														<div class="container">
															<div class="basicrow">
																<div class="basicrow f-reg f-black text-justify">
																	Por favor, especifique el tipo de aver&iacute;a que desea reportar, sea por su L&iacute;nea Fija.
																</div>
															</div>
														</div>
													</div>

													<div class="planspc dheight input-check-container">
														<div class="container norel">
															<div class="spc-i vcenter">
																<div class="tabcell">
																	<input type="checkbox" name="onlyLine" id="onlyLine1" class="css-checkbox2 css-checkbox" value="NOISE" />
																</div>
															</div>

															<div class="spc-ii f-reg f-bold text-justify vcenter">
																<div class="tabcell">
																	<label for="typeLine1">Ruido</label>
																</div>
															</div>
														</div>
													</div>

													<div class="planspc dheight input-check-container">
														<div class="container norel">
															<div class="spc-i vcenter">
																<div class="tabcell">
																	<input type="checkbox" name="onlyLine" id="onlyLine2" class="css-checkbox2 css-checkbox" value="TONELESS" />
																</div>
															</div>

															<div class="spc-ii f-reg f-bold text-justify vcenter">
																<div class="tabcell">
																	<label for="typeLine2">Sin Tono</label>
																</div>
															</div>
														</div>
													</div>
													<% } %>
														<%  if(typeReport == "LINE+DSL"){ %>
															<div class="subtitle nbott din-b f-little text-center f-black vcenter">
																<div class="tabcell">
																	L&Iacute;NEA FIJA + DSL
																</div>
															</div>

															<div class="autobar diffr">
																<div class="container">
																	<div class="basicrow">
																		<div class="basicrow f-reg f-black text-justify">
																			Por favor, especifique el tipo de aver&iacute;a que desea reportar, sea por su L&iacute;nea Fija + DSL.
																		</div>
																	</div>
																</div>
															</div>
															<div class="planspc dheight input-check-container">
																<div class="container norel">
																	<div class="spc-i vcenter">
																		<div class="tabcell">
																			<input type="checkbox" name="lineDSL" id="lineDSL1" class="css-checkbox2 css-checkbox" value="NO_INTERNET_WITH_VOICE" />
																		</div>
																	</div>

																	<div class="spc-ii f-reg f-bold text-justify vcenter">
																		<div class="tabcell">
																			<label for="typeLine1">Sin internet y con voz</label>
																		</div>
																	</div>
																</div>
															</div>

															<div class="planspc dheight input-check-container">
																<div class="container norel">
																	<div class="spc-i vcenter">
																		<div class="tabcell">
																			<input type="checkbox" name="lineDSL" id="lineDSL2" class="css-checkbox2 css-checkbox" value="NO_INTERNET_NO_VOICE" />
																		</div>
																	</div>

																	<div class="spc-ii f-reg f-bold text-justify vcenter">
																		<div class="tabcell">
																			<label for="typeLine2">Sin internet y sin voz</label>
																		</div>
																	</div>
																</div>
															</div>
															<% } %>

												<div class="subtitle nbott din-b f-little text-center f-black vcenter">
													<div class="tabcell">
														DETALLA TU AVER&Iacute;A
													</div>
												</div>

												<div class="autobar f-reg f-black diffr">
													<div class="container">
														<div class="basicrow">
															<input type="number" name="contact-number-a" id="contact-number-a" class="inpln inf f-bold f-reg f-black" placeholder="Número de Contacto 1" maxlength="10" novalidate>
														</div>
													</div>
												</div>

												<div class="autobar f-reg f-black diffr">
													<div class="container">
														<div class="basicrow">
															<input type="number" name="contact-number-b" id="contact-number-b" class="inpln inf f-bold f-reg f-black" placeholder="Número de Contacto 2" maxlength="10" novalidate>
														</div>
													</div>
												</div>

												<div class="autobar f-reg f-black diffr">
													<div class="container">
														<div class="basicrow">
															<textarea class="cdef f-bold f-med f-black" name="fixed_failure_comment" id="fixed-failure-comment" maxlength="500" placeholder="Ingrese una breve explicación de lo que desea reportar"></textarea>
														</div>
													</div>
												</div>
                                  
												<div class="autobar diff no-bord">
													<div class="container">
														<div class="r-btn text-center f-med f-white vcenter" id="continue-2">
															<div class="tabcell">
																Continuar
															</div>
														</div>

														<div class="g-btn text-center f-med f-white vcenter" id="return-1">
															<div class="tabcell">
																Regresar
															</div>
														</div>
													</div>
												</div>
												<% } %>
												<% if (showStep3) { %>
													<div class="subtitle nbott din-b f-little text-center f-black vcenter">
														<div class="tabcell">
															CONFIRMACI&Oacute;N
														</div>
													</div>

													<div class="autobar diffr">
														<div class="container">
															<div class="basicrow">
																<div class="basicrow f-reg f-black text-justify">
																	Se ha creado exitosamente un reporte al teléfono <%= value.subscriber %>
                                                                </div>
															</div>
														</div>
													</div>
                                  
                                                    <div class="autobar diff no-bord">
                                                        <div class="container">
                                                            <div class="r-btn text-center f-med f-white vcenter btn-ok">
                                                                <div class="tabcell">
                                                                    Aceptar
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													<% } %>
									</div>
							</div>
					</div>
					<%	}
						})%>
						<% include footer %>
		</div>
</script>
