<script type="text/template" id="footer">

		<!-- [INIT FOOTER] -->
		<div id="btn-help" class="footbar footcont" >

			<div class="basicrow text-center">
				<img class="chaticon" width="100%" src="images/chaticon.png">
			</div>

			<div class="basicrow f-white f-small text-center">
				Ayuda
			</div>

		</div>
		<!-- [END FOOTER] -->
    
</script>