<script type="text/template" id="history_prepaid">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-01"></span> Historial &Uacute;ltimos 3 meses
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Tel&eacute;fono
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> >
								<%= value.DefaultSubscriber %>
								</option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top">
				<div class="container">
					<div class="basicrow">
						<!-- [INIT TABLA MOVIL] -->
						<div class="basicrow m-top visible-xs">
							<div class="basicrow mbott-i">
								<div id="myCarousel5" class="carousel slide" data-interval="false" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel5" data-slide-to="1"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds rline vcenter">
														<div class="tabcell">
															Fecha
														</div>
													</div>

													<div class="frwds vcenter">
														<div class="tabcell">
															Canal
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-money wmbl" aria-hidden="true"></i> Income
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<i class="fa fa-television wmbl" aria-hidden="true"></i> Web / Mobile
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="item">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds rline vcenter">
														<div class="tabcell">
															Estatus
														</div>
													</div>

													<div class="frwds vcenter">
														<div class="tabcell">
															Cantidad
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- [END TABLA MOVIL] -->
					</div>

					<div class="basicrow m-top-i text-center">
						<div class="autorow rowcntr">
							<a href="#" class="tablepages off vcenter">
									<span class="tabcell">
										&lt;&lt;
									</span>
							</a>

							<a href="#" class="tablepages off vcenter">
									<span class="tabcell">
										&lt;
									</span>
							</a>

							<a href="#" class="tablepages on vcenter">
									<span class="tabcell">
										1
									</span>
							</a>

							<a href="#" class="tablepages vcenter">
									<span class="tabcell">
										2
									</span>
							</a>

							<a href="#" class="tablepages vcenter">
									<span class="tabcell">
										3
									</span>
							</a>

							<a href="#" class="tablepages vcenter">
									<span class="tabcell">
										&gt;
									</span>
							</a>

							<a href="#" class="tablepages vcenter">
									<span class="tabcell">
										&gt;&gt;
									</span>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>
        
</script>