<script type="text/template" id="manage_notifications">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-28"></span> Preferencia de Notificaciones
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
								<span class="tabcell">
									N&uacute;mero de Cuenta
								</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">

					<div class="autowcont notopbrd list-subscriber">

						<% _.each(subscribers, function(subscriberObj, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#subscriber<%= subscriberIndex %>" class="digs-box vcenter select-subscriber" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriberObj.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriberObj.productTypeField) %></span> <span class="roboto-m"><%= formatNumber(subscriberObj.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="subscriber<%= subscriberIndex %>" class="collapse">
							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicrow m-top m-bott">
									<div class="basicrow m-bott" style="display: none">
										<div class="basicrow f-mildt text-center roboto-m">
											Lista de No llamar
										</div>

										<div class="basicrow text-center m-top-i list-no-call">
											<!--Este suscriptor se encuentra en la lista <span class="roboto-b">No Llamar</span> con estatus de <span class="roboto-b">Inactivo.</span> Su vigencia es entre 11/28/2018 a 11/27/2023.-->
											Agregar este subscriptor a la lista de <span class="roboto-b">No Llamar</span>
										</div>

										<div class="basicrow text-center m-top-i">
											<div class="btns red def-i centr vcenter rippleR btn-no-call">
												<span class="tabcell text-no-call">
													Activar
												</span>
											</div>
										</div>
									</div>

									<div class="basicrow m-top" style="display: none">
										<div class="logline full"></div>
									</div>

									<div class="basicrow">
										<div class="basicrow f-mildt text-center roboto-m">
											Alertas y Mensajes
										</div>

										<div class="basicrow text-center m-top-u">
											<div class="ntfs-cont text-left questions-list">
												<!--<div class="basicrow m-top">-->
													<!--<input type="checkbox"> &#191;Desea recibir promociones de Mi Claro por Correo Electr&oacute;nico&#63;-->
												<!--</div>-->

												<!--<div class="basicrow m-top">-->
													<!--<input type="checkbox"> &#191;Desea recibir promociones de Mi Claro por SMS&#63;-->
												<!--</div>-->

												<!--<div class="basicrow m-top">-->
													<!--<input type="checkbox"> &#191;Desea recibir confirmaciones de pagos de Mi Claro por SMS&#63;-->
												<!--</div>-->
											</div>
										</div>

										<div class="basicrow text-center m-top-i">
											<div class="btns red def-iv centr vcenter rippleR btn-save">
												<span class="tabcell">
													Guardar Cambios&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<% });  %>

					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>

</script>