<script type="text/template" id="my_orders">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-04"></span> Mis Ordenes
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott">

				<div class="container">

					<% if (!showOrders) { %>
					<div class="text-center m-top-i">
						Sin Ordenes
					</div>
					<% } %>

					<% _.each(subscribersHistory, function(history, index) { %>

					<% if (history.Packages.length > 0) { %>

					<div class="basicrow m-top-i">
						<div class="suscriptbar">
							Suscriptor: <span class="roboto-b"><%= history.SubcriberNumber %></span>
						</div>

						<div class="boxtbl">

							<div class="tab-tbar">
								<div class="frwds frths rline trds vcenter">
									<div class="tabcell">
										Producto
									</div>
								</div>

								<div class="frwds frths rline trds vcenter">
									<div class="tabcell">
										Descripci&oacute;n
									</div>
								</div>

								<div class="frwds frths trds vcenter">
									<div class="tabcell">
										Costo
									</div>
								</div>
							</div>

							<div class="basicrow">

								<% _.each(history.Packages, function(pack, indexP) { %>

								<div class="tab-cbar topgbrd">
									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											<%= pack.Name %>
										</div>
									</div>

									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											<%= pack.Desc %>
										</div>
									</div>

									<div class="frwds trds vcenter">
										<div class="tabcell">
											<span class="roboto-b">
												&#36;<%= pack.Price+'' %>
											</span>
										</div>
									</div>
								</div>

								<% if (pack.renewal) { %>
								<div class="recauto">
									<div class="basicrow roboto-b f-black">
										Recurrencia Autom&aacute;tica
									</div>

									<div class="basicrow m-top-u">
										<label class="switch">
											<input class="recurrence-switch" type="checkbox" id="recurrence-switch<%= index %>-<%= indexP %>"
												   data-subscriber="<%= history.SubcriberNumber %>"
												   data-offer="<%= pack.OfferId %>"
												   data-base-offer="<%= history.BaseOfferID %>" <%= pack.renewalActive ? 'checked' : '' %>>
											<span class="slider"></span>
										</label>
									</div>
								</div>
								<% } %>

								<% }); %>

							</div>
						</div>

						<!--<div class="recauto">-->
							<!--<div class="basicrow roboto-b f-black">-->
								<!--Recurrencia Autom&aacute;tica-->
							<!--</div>-->

							<!--<div class="basicrow m-top-u">-->
								<!--<label class="switch">-->
									<!--<input type="checkbox">-->
									<!--<span class="slider"></span>-->
								<!--</label>-->
							<!--</div>-->
						<!--</div>-->
					</div>

					<% } %>

					<% }); %>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
