<script type="text/template" id="netflix_terms">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span class="icon-dash-01"></span> Términos y Condiciones Netflix
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-med f-black m-top-i m-bott">
					<div class="container">
						<div class="basicrow">
							Los siguientes Términos y Condiciones (en adelante “T&C”) regirán la relación entre Usted, el cliente, y Puerto Rico Telephone Company, Inc. h/n/c Claro (en adelante Claro). Estos T&C constituyen un documento legal que detalla sus derechos relativos al pago de la suscripción al servicio de Netflix a través de su factura de Claro (en adelante el “Servicio”). Los T&C aplicarán al Servicio, inclusive en casos en que éste sea transferido, a solicitud suya, de un sitio a otro.
							<br>
							<br>
							Claro cumplirá con todas las leyes federales, estatales y locales que apliquen a Claro y a su desempeño bajo los T&C. En caso de existir algún conflicto entre las disposiciones de los T&C y cualesquiera de las leyes aplicables, prevalecerá la ley aplicable.
							<br>
							<br>
							Para efectos de estos T&C el término “Servicio” significa el pago de la suscripción al servicio de Netflix a través de su factura de Claro.
							<br>
							<br>
							Para propósitos de este T&C, los términos “Usted”, “Cliente” o “su” se refieren a la persona, natural o jurídica, que se suscribe al Servicio. Los términos “nosotros”, “nuestros” se refieren a Claro.
							<br>
							<br>
							Como condición para empezar a recibir el Servicio, Usted debe ser mayor de 21 años o estar autorizado a comparecer en representación del Cliente y expresar la aceptación de los siguientes T&C:
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-reg f-black m-top m-bott">
					<div class="container">
						<div class="basicrow">
							<div data-toggle="collapse" data-target="#preg1" class="preg-f">
								1. Suscripción a Netflix con pago a través de la factura de Claro

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg1" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									1.1. Para suscribirse al servicio de NETFLIX a través de la factura de Claro, el suscriptor debe:
									1.1.1. Ser el titular de la cuenta de Claro en la que será facturado el Servicio.
									1.1.2. Estar suscrito a Mi Claro.
									1.1.3. Auto gestionar la suscripción a Netflix por medio de Mi Claro.
									1.1.4. Cumplir con los requisitos de elegibilidad para este servicio, a saber:
									1.1.4.1. La cuenta del Cliente con Claro no puede estar suspendida, con balances en atrasos o cancelada.
									1.1.4.2. El Cliente no puede tener cuentas activas con Netflix.
									1.1.4.3. No serán elegibles las siguientes cuentas: prepagada BYOP/Prepago, gobierno, negocios, y aquellas que de tiempo en tiempo sean excluidas por Claro a su sola discreción.
									1.1.5. Aceptar los términos y condiciones del servicio de Netflix expuestos en netflix.com y los términos y condiciones para que el servicio de Netflix pueda ser facturado a través de la factura de Claro presentados en Mi Claro.
									1.1.6. Completar la suscripción en el portal de Netflix, seleccionar el plan de preferencia y aceptar sus términos y condiciones.
									El Cliente no debe cerrar la pantalla del portal de Netflix hasta que haya finalizado el proceso de suscripción para asegurar que se haya completado con éxito, de lo contrario, la suscripción podría no ser completada.
									1.2. Al suscribirse al Servicio a través del portal Mi Claro, el Cliente acepta y autoriza a CLARO a facturar el cargo del monto del plan seleccionado de forma mensual hasta tanto el Cliente no suspenda la suscripción del Servicio de conformidad con los términos aquí expuestos.
									1.3. El Cliente comenzará a disfrutar el de Netflix una vez culmine el proceso de suscripción.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg2" class="preg-f">
								2. Cuentas con clasificación “credit limit”

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg2" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									2.1. El Cliente reconoce y acepta que su límite de crédito puede variar por cuenta, según su clasificación crediticia o su historial de pagos en CLARO.
									2.2. El Cliente con una cuenta “credit limit” al aceptar la facturación del Servicio a través de la factura de Claro reconoce y acepta que el cargo del plan seleccionado con Netflix será considerado como parte de su monto de factura mensual y que ello podría afectar sus servicios con CLARO si su límite de crédito es excedido.
									2.3. De igual forma, el Cliente reconoce y acepta que cambios de planes, añadir servicios de valor agregados que con lleven cargos mensuales en su factura podría ocasionar que alcance o exceda su límite de crédito, lo cual podría afectar su Servicio o servicios con CLARO y colateralmente su servicio Netflix.
									2.4. El límite de crédito se establece por número de cuenta y no por suscriptor (número de teléfono).  Al momento de la suscripción, Claro validará que el Cliente tenga disponible un monto de $25.00 o más para poder suscribirse al Servicio.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg3" class="preg-f">
								3.	Suscripción de Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg3" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									3.1. La suscripción del Servicio es mensual y se renovará automáticamente mes a mes mientras el Cliente no la cancele de conformidad con estos T&C y los términos y condiciones de Netflix.
									3.2. Netflix ofrece una variedad de planes de membresía, incluidos planes con promociones especiales por medio de otras compañías. El Cliente reconoce y acepta que la redención de dichas promociones podrían no ser honradas por CLARO, ello será determinado caso a caso..
									3.3. Para conocer los detalles específicos de su suscripción, el Cliente debe visitar el sitio web de Netflix y acceder a su cuenta.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg4" class="preg-f">
								4. Mes de prueba de Netflix gratis

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg4" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									4.1. Netflix, a su sola discreción y de conformidad con sus términos, podría otorgarle al Cliente que se suscriba al Servicio a través del portal Mi Claro una prueba gratis de sus servicios. Los términos pueden ser consultados en
									<a href="https://help.netflix.com/legal/termsofuse">https://help.netflix.com/legal/termsofuse</a>.
									4.2. CLARO no se responsabiliza por la determinación de elegibilidad del Cliente que haga Netflix ni de su decisión de limitar o cancelar la prueba gratis.
									4.3. Salvo que el Cliente cancele el Servicio antes de concluir el periodo de prueba gratis, al concluir el mismo, el Cliente autoriza a Claro a iniciar la facturación y cobre del Servicio y a que ésta sea renovada automáticamente mes a mes.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg5" class="preg-f">
								5. Mensualidades y Cargos

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg5" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									5.1. El Cliente acepta y autoriza a CLARO a que cargue en su factura de Claro el monto mensual por el plan que seleccionó del Servicio y se compromete a pagar la misma en o antes de su fecha de vencimiento. Al momento de realizar el cargo, la cuenta no puede estar suspendida, con balances en atrasos o cancelada. De no cumplir con alguna de estas condiciones, el cargo no podrá ser procesado y Netflix podría suspender el acceso al servicio por parte del cliente.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg6" class="preg-f">
								6.	Suspensión de Servicio Netflix por cargo no cobrado

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg6" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									6.1. Al momento de realizar el cargo, la cuenta no puede estar suspendida, con balances en atrasos o cancelada. De no cumplir con alguna de estas condiciones, el cargo no podrá ser procesado y el Servicio podría ser cancelado.
									6.2. Si no se puede realizar el cargo porque la cuenta del Cliente en CLARO está suspendida, Netflix cancelará el Servicio. Una vez que el Cliente pague su factura de CLARO y su cuenta vuelva a estar activa,. el Cliente debe repetir el proceso de registro vía Mi Claro.
									6.3. CLARO no será responsable de reactivar el Servicio bajo ninguna circunstancia.
									6.4. CLARO podrá rechazar el cargo de Netflix de identificar alguna conducta fraudulenta del Cliente. Esto conllevará la cancelación del Servicio por parte de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg7" class="preg-f">
								7. Facturación

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg7" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									7.1. Netflix cobrará su servicio mensualmente y de manera automática en el día calendario correspondiente al comienzo de la membresía; no necesariamente corresponderá al ciclo de facturación de Claro.
									7.2. La fecha de cobro por parte de Netflix podría cambiar en ciertos casos.
									7.3. Al suscribirse al Servicio, el Cliente reconoce y acepta que éste es un servicio prepago por lo que no se crearán cargos de prorrateos como parte de la activación o cancelación del servicio.
									7.4. La suscripción aparecerá en la factura de CLARO, con la siguiente descripción NETFLIX.COM
									7.5. CLARO podrá realizar gestiones de cobro por el monto facturado por el Servicio, más cualquier cargo por mora que sea aplicable.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg8" class="preg-f">
								8. Reembolsos

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg8" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									8.1 El Cliente no tiene derecho a recibir créditos o reembolsos por periodos en que el Cliente no haya podido recibir el Servicio o que éste haya sido utilizado parcialmente si la cauta de ello no es imputable a Netflix. Si el Cliente cancela la suscripción, continuará teniendo acceso al Servicio hasta que culmine el ciclo del Servicio contado desde la fecha de activación del mismo.
									8.2 CLARO no está obligado a otorgar créditos ni reembolsos al Cliente por los pagos recibidos por el Servicio.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg9" class="preg-f">
								9. Cambios en precio y planes de Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg9" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									9.1. Netflix se reserva el derecho a modificar el contenido y precios de los planes de suscripción en cualquier momento. Estos cambios serán efectivos una vez el Cliente sea notificado por parte de Netflix.
									9.2. CLARO no se hace responsable por cambios en el contenido y precios de los planes de suscripción que realice Netflix.
									9.3. CLARO no será responsable de notificarle al Cliente si Netflix realiza algún cambio en el contenido y precios de sus planes de suscripción.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg10" class="preg-f">
								10. Averías e interrupción de servicios de Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg10" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									10.1. El cliente debe tener acceso a Internet y a un dispositivo listo para Netflix para poder utilizar el servicio.
									10.2. Netflix ofrece sus contenidos, software asociados y cualquier otra característica y funcionalidad de sus servicios en el estado en el que se encuentran, con todas sus fallas y sin garantías. Netflix no manifiesta ni garantiza que sus servicios podrán ser utilizados sin interrupciones o sin errores.
									10.3. El cliente entiende y acepta que la membresía de Netflix es un servicio de transmisión de datos (streaming) que podría verse interrumpido por variedad de razones, entre ellas, los eventos atmosféricos. CLARO no se hace responsable por la interrupción de servicios de Netflix debido a razones que están fuera de su control.
									10.4. CLARO no se hace responsable por la interrupción de servicios de Netflix debido averías por parte de Netflix.
									10.5. CLARO no se hace responsable por la interrupción de servicios de Netflix debido averías por parte del proveedor de Internet del cliente.
									10.6. CLARO no se hace responsable por el no acceso a los servicios de Netflix debido averías en los equipos y dispositivos del cliente.
									10.7. CLARO no realizará reembolsos ni acreditará reclamaciones por la interrupción de servicios de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg11" class="preg-f">
								11. Límite de Responsabilidad

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg11" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									10.1 El Cliente reconoce y acepta que es el único responsable de asegurarse de que el servicio de internet que utiliza para recibir el Servicio cumple con los requerimientos de Netflix para que el Servicio sea prestado según los parámetros de calidad de Netflix. El Cliente libera de responsabilidad a Claro por cualquier reclamación relacionada con este asunto, incluyendo, pero sin limitarse, a reclamaciones sobre sobrepagos por consumo de datos por “streaming”, interrupciones de servicio o pobre calidad del Servicio.
									10.2 USTED RECONOCE Y ACEPTA QUE: USTED ASUME TODO RIESGO RELACIONADO AL USO DEL SERVICIO. EL SERVICIO SE PROVEE TAL CUAL (“AS IS”) Y SEGÚN ESTÉ DISPONIBLE (“AS AVAILABLE”). CLARO NO OFRECE GARANTIA ALGUNA SOBRE EL SERVICIO, INCLUYENDO, SIN LIMITACION, A GARANTIAS EXPRESAS O IMPLÍCITAS SOBRE LA COMERCIABILIDAD (“MERCHANTABILITY”) O ADECUACIDAD (“ADEQUACY”) PARA UN PROPOSITO EN PARTICULAR Y SOBRE VIOLACION DE DERECHOS DE AUTOR.  CLARO EXPRESA QUE NO GARANTIZA (i) QUE EL SERVICIO LLENE SUS REQUISITOS, (ii) QUE NO VAYA A HABER INTERRUPCIONES EN EL SERVICIO Y QUE ESTE SE OFREZCA A TIEMPO, DE MODO SEGURO Y LIBRE DE DEFECTO, (iii) QUE LOS RESULTADOS QUE SE PUEDAN OBTENER DEL USO DEL SERVICIO SEAN CORRECTOS O FEHACIENTES, (iv) QUE LA CALIDAD DEL SERVICIO LLENE SUS EXPECTATIVAS.  NINGÚN ASESORAMIENTO O INFORMACIÓN, YA SEA EN FORMA VERBAL O POR ESCRITO, EXPRESA O IMPLÍCITA, OBTENIDA POR USTED DE CLARO O POR CONDUCTO DEL SERVICIO, TENDRÁ EL EFECTO DE OFRECERLE A USTED UNA GARANTÍA QUE NO ESTÉ EXPRESAMENTE ESTABLECIDA EN ESTOS T&C.
									10.3 USTED COMPRENDE Y ACEPTA QUE CLARO NO SERÁ RESPONSABLE ANTE USTED POR NINGUN DAÑO DIRECTO, INDIRECTO, INCIDENTAL, ESPECIAL O COMO CONSECUENCIA DE, SIN LIMITACION, A DAÑOS PERSONALES, A LA PROPIEDAD, PÉRDIDAS DE GANANCIAS, “GOODWILL”, USO, DATA U OTRAS PÉRDIDAS TANGIBLES O INTANGIBLES (AÚN CUANDO CLARO HUBIERA SIDO ADVERTIDO DE DICHA POSIBILIDAD), QUE RESULTE DE: (a) EL USO DEL SERVICIO O, (b) LA CALIDAD O FALTA DE ELLA DEL SERVICIO.

									EN TODO CASO, SU ÚNICO Y EXCLUSIVO REMEDIO POR CUALQUIER DISPUTA QUE USTED TENGA CON CLARO RELACIONADA AL SERVICIO SERÁ UN REEMBOLSO O CRÉDITO, EL CUAL NO EXCEDERÁ EN NINGUN CASO, LA CANTIDAD QUE USTED HAYA PAGADO POR EL SERVICIO EN EL PERIODO RECLAMADO.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg12" class="preg-f">
								12.	Cambios en la Cuenta de CLARO

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg12" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									12.1. Cambios realizados en la cuenta de CLARO, tales como solicitudes de traspaso, traslados, cambios de tipo de cuenta, podrían ocasionar que el Servicio sea cancelado.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg13" class="preg-f">
								13.	Cambios o cancelaciones voluntarias en la cuenta de Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg13" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									13.1. CLARO no se hace responsable de realizar cambios de planes en el Servicio, los mismos deben ser gestionados por el Cliente a través de Netflix.
									13.2. El Cliente puede cancelar su suscripción de Netflix en cualquier momento, y continuará teniendo acceso al servicio hasta que culmine su ciclo de facturación mensual.
									13.3. El Cliente debe cancelar la suscripción del Servicio antes de que ocurra la renovación mensual para evitar que se le facture el cargo del mes siguiente.
									13.4. Para cancelar la suscripción del Servicio, el Cliente debe visitar el sitio web de Netflix y seguir las instrucciones allí indicadas.
									13.5. CLARO no se hace responsable de cancelaciones no gestionadas por el Cliente y tampoco dará crédito por cancelaciones no procesadas de parte de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg14" class="preg-f">
								14.	Contraseñas y acceso a la cuenta

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg14" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									14.1. El Cliente que creó la cuenta de Netflix y al que se le facturan los cargos a través de CLARO tiene acceso y control exclusivos sobre su cuenta de Netflix.
									14.2. CLARO no se hace responsable de cualquier actividad que ocurra en la cuenta de Netflix del Cliente. El Cliente es el único responsable por la seguridad y manejo de sus claves y controles de acceso al Servicio.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg15" class="preg-f">
								15. Reclamaciones

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg15" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									15.1. CLARO no se hace responsable por reclamaciones a la facturación y/o situaciones relacionadas con la programación y averías de parte de Netflix.
									15.2. Toda reclamación relacionada con el servicio de Netflix debe ser tramitada por el cliente a través de Netflix.
									15.3. Si el cliente, por alguna razón, desea objetar el cargo de Netflix en su factura deberá hacerlo dentro de los veinte (20) días siguientes a la fecha de facturación, o en el tiempo que sea requerido de tiempo en tiempo por ley. Después de transcurrido dicho periodo, sin haber sido recibida ninguna objeción a la factura, CLARO no emitirá créditos o rembolsos, salvo que sea requerido por alguna ley o reglamento aplicable.
									15.4. El cliente deberá efectuar el pago de aquella parte de la factura que entienda correcta y/o de la cual no tenga objeción alguna. La copia del procedimiento de objeción de la Compañía puede ser revisada en www.claropr.com
									15.5. Una vez el cliente inicia el proceso de objeción de cargos de Netflix, el cargo por este servicio será detenido hasta que concluya la investigación y/o reconsideración de la objeción. Esto conllevará la cancelación del servicio por parte de Netflix. El cliente es responsable de reactivar su cuenta en Netflix una vez culmine este proceso. CLARO no es responsable de cancelar ni reactivar la membresía de Netflix.
									15.6. Con aquel cliente que presente un patrón de reclamaciones que pueda ser considerado una conducta fraudulenta, CLARO se reservará el derecho de no permitir la reactivación de la cuenta en Netflix con factura CLARO.
									15.7. Para consultas o reclamaciones sobre la factura, el cliente deberá llamar a nuestra oficina de Servicios al Cliente
									<a href="tel:7877750000">(787-775-0000)</a>.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg16" class="preg-f">
								16. Códigos Promocionales

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg16" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									16.1. El cliente podrá recibir o ser elegible para promociones asociadas al servicio de Netflix, según sean estas descritas en materiales promocionales o informativos, en el portal de Mi Claro o en cualquier otro material promocional.
									16.2. El cliente es responsable de redimir las promociones para las cuales sea elegible a través del portal Mi Claro.
									16.3. El cliente podrá ver todas las promociones que ha redimido y el balance/crédito asociados a estas en su perfil de Netflix.
									16.4. CLARO no guarda histórico relacionado a las promociones y tarjetas de regalo redimidas por el cliente.
									16.5. CLARO no es responsable por las promociones ofrecidas por NETFLIX ni por compañías externas.
									16.6. CLARO no se hace responsable por promociones y ofertas no honradas por parte de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg17" class="preg-f">
								17. Cambios a los Términos y Condiciones

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg17" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									17.1. CLARO se reserva el derecho a realizar actualizaciones y/o modificaciones a los presentes términos y condiciones, estos podrían variar sujeto a eventos y/o promociones especiales ofrecidas por CLARO o Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg18" class="preg-f">
								18.	Notificaciones

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg18" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									18.1. Salvo que otra cosa se disponga en estos T&C, cualquier notificación de Claro a Usted podrá enviarse por correo electrónico, correo regular, publicándose en el portal de internet
									<a href="https://miclaro.clarotodo.com">https://miclaro.clarotodo.com</a> y
									<a href="https://www.claropr.com">https://www.claropr.com</a>, en mensajes grabados, mensajes en su factura, anuncios de periódicos, postales, cartas, por medio de llamadas telefónicas o por medio mensajes en televisión.
									18.2. Salvo que otra cosa se disponga en estos T&C, cualquier notificación de Usted a Claro deberá hacerse al siguiente número telefónico: 787-775-0000. La fecha efectiva de tales notificaciones será la que se desprenda de nuestros récords como recibida. Cualquier notificación de índole legal deberá ser remitida por escrito y enviada por correo a la siguiente dirección postal: Claro, P.O. Box 360998, San Juan, Puerto Rico 00936-0998.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg19" class="preg-f">
								19.	Disposiciones misceláneas

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg19" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									19.1 Estos T&C no proveen remedios ni derechos ni tienen disposiciones para atender derechos de terceros partes.
									19.2 Claro podrá ceder estos T&C y todos sus derechos y obligaciones, en todo o en parte, relacionados a la prestación del Servicio, a una compañía matriz o afiliada, sin previa notificación a Usted. Usted no podrá ceder estos T&C o sus derechos y obligaciones, en todo o en parte, relacionados al Servicio, sin el previo consentimiento escrito de Claro.
									19.3 Estos T&C estarán regidos por las leyes del Estado Libre Asociado de Puerto Rico y Usted y CLARO acuerdan que cualquier controversia entre las partes será dirimida en los foros competentes del estado Libre Asociado de Puerto Rico.
									19.3 El mero hecho de que Claro no ejercite sus derechos o facultades bajo estos T&C, no constituye ni será interpretado como una renuncia a ejercer de dichos derechos o remedios.
									19.4 Si algún tribunal u organismo gubernamental con jurisdicción y competencia sobre la materia y la persona determina que alguna disposición de estos T&C es inválida, las partes acuerdan que realizarán esfuerzos necesarios para cumplir con la intención de tal disposición, sustituir la misma por una disposición valida y también acuerdan que las demás provisiones no afectadas por tal determinación se mantendrán vigentes, válidas e inalteradas.
									19.5 El propósito de los títulos de las secciones y párrafos de estos T&C es para facilitar su lectura y compresión y no tienen efecto legal o contractual.
									19.6 Estos T&C, cualquier política, guías y otros documentos a los que se haga referencia aquí, así como las disposiciones de cualquier material promocional o informativo u ofertas promocionales aplicables y los términos y condiciones publicadas en el portal Mi Claro constituyen el contrato entre Claro y Usted y sustituyen cualquier acuerdo previo entre Usted y Claro con relación con el Servicio.
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="basicrow roboto-r f-med f-black m-top-i bg-gray">
					<div class="container m-top-i m-bott">
						<div class="row m-top-i m-bott">
							<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
								<img width="100%" class="n-supp-icon" src="images/netflixicon4.png">
							</div>

							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
								<div class="basicrow">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="basicrow f-big roboto-l">
												Cont&aacute;ctanos
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
											<div class="basicrow f-bmed roboto-b">
												Horario de Servicio al Cliente
											</div>

											<div class="basicrow f-med line-def-i m-top-ii">
												Lunes a Viernes: 8:00 a.m - 7:00 p.m<br/>
												S&aacute;bados y Domingos: 8:00 a.m - 5:00 p.m<br/>
												D&iacute;as Feriados: 8:00 a.m - 5:00 p.m
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
											<div class="basicrow h-mtop f-bmed roboto-b">
												Tel&eacute;fonos de Contacto
											</div>

											<div class="basicrow f-med line-def-i m-top-ii">
												Servicio al Cliente: <a href="tel:7877750000">787-775-0000</a><br/>
												&oacute; Marcando <a href="tel:*611">&#42;611</a> desde tu tel&eacute;fono celular.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</script>
