<script type="text/template" id="netflix_faq">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span class="icon-dash-27"></span> Preguntas Frecuentes Netflix
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-reg f-black m-top m-bott">
					<div class="container">
						<div class="basicrow roboto-l f-big">
							Preguntas Frecuentes sobre Facturaci&oacute;n
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg1" class="preg-f">
								¿Cómo puedo pagar Netflix con mi factura Claro?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg1" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Para pagar Netflix por medio de la factura Claro, debes iniciar la suscripción al servicio de Netflix por medio de Mi Claro (app o web), pulsar la alternativa de Netflix y completar los pasos que se presentan. Claro determinará si eres elegible para el pago de este servicio. Ingresa a Mi Claro
									<a href="https://miclaro.clarotodo.com/">https://miclaro.clarotodo.com/</a> y revisa si cumples con los requisitos para suscribirte a Netflix con factura Claro.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg1-2" class="preg-f">
								Tengo un iPhone y no veo opción para suscribirme.

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg1-2" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Desde la versión Mi Claro para iOS no es posible completar la suscripción a Netflix.  Accede a Mi Claro App para Android o:
									<ol type="1">
										<li>Ingresa a cualquier navegador web a Mi Claro.</li>
										<li>Busca el botón de Netflix en el menú principal.</li>
										<li>Selecciona el plan que deseas por medio de tu factura con Claro y comienza a disfrutar de la programación varia de Netflix.</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg2" class="preg-f">
								¿Cómo puedo pagar Netflix con mi factura Claro si ya tengo una cuenta de Netflix?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg2" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Si ya tienes una cuenta de Netflix que pagas con otro método y deseas pagarla con la factura Claro, debes cancelar tu cuenta y esperar a que el ciclo de facturación termine en Netflix e ingresar a Mi Claro y realizar la suscripción utilizando el mismo correo electrónico y contraseña. De esta manera, podrás tener acceso al perfil e historial de tu cuenta anterior.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg3" class="preg-f">
								¿Cómo compruebo si me están facturando por medio de mi factura Claro?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg3" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Para comprobar si recibes la facturación del servicio de Netflix por medio de tu factura Claro, visita la sesión de Membresía y Facturación en tu cuenta de Netflix,
									<a href="www.netflix.com/YourAccount">www.netflix.com/YourAccount</a>.  También, puedes verificar el cargo Netflix.com en tu factura de Claro PR.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg4" class="preg-f">
								¿Cómo cambio mi forma de pago?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg4" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Para cambiar tu forma de pago de Netflix; de tu factura Claro a otro medio de pago debes ir directamente a la sección de Membresía y Facturación de tu cuenta en
									<a href="www.netflix.com/YourAccount">www.netflix.com/YourAccount</a>.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg5" class="preg-f">
								¿Cómo cambio mi plan de Netflix?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg5" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Para cambiar del plan de Netflix, debes iniciar sesión en Netflix, visitar la sección Cuenta y seleccionar Cambiar plan. En esta pantalla podrás ver y seleccionar los planes disponibles.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg6" class="preg-f">
								¿Cómo cancelo el servicio de Netflix?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg6" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Para cancelar la membresía de Netflix, debes iniciar sesión en Netflix y visitar la sección Cuenta y seleccionar Membresía y Facturación. En esta pantalla, debes pulsar el botón Cancelar membresía.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg7" class="preg-f">
								No recuerdo el correo electrónico que utilicé para suscribirme por medio de Factura Claro y no puedo acceder a mi cuenta.

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg7" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Si no recuerdas el correo electrónico que utilizaste para la suscripción, debes entrar a la pestaña de Netflix en Mi Claro (app o web) y pulsar el botón correspondiente para recuperarlo. Al hacerlo, se presentará la página de inicio de sesión de Netflix con la información de tu correo electrónico.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg8" class="preg-f">
								Conecté mi cuenta de Netflix a Factura Claro, pero aun recibo cargos en mi tarjeta de débito/crédito.

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg8" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Es posible que hayas escrito mal tu email y que hayas creado una cuenta adicional, ya que esto no podría ocurrir si el cliente canceló la cuenta original con Netflix exitosamente.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg9" class="preg-f">
								¿Qué sucede con mi cuenta de Netflix si eventualmente cambio de operador de telefonía celular?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg9" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Si cancela su cuenta con Claro, su suscripción de Netflix podría verse afectada. Debe ponerse en contacto con Netflix a la mayor brevedad, para actualizar su método de pago y evitar la cancelación de su suscripción.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg10" class="preg-f">
								¿Cómo me comunico con Servicio al Cliente de Claro?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg10" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Puedes comunicarte con el Servicio al Cliente de Claro llamando al <a href="tel:7877750000">787-775-0000</a>.
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="basicrow roboto-r f-med f-black m-top-i bg-gray">
					<div class="container m-top-i m-bott">
						<div class="row m-top-i m-bott">
							<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
								<img width="100%" class="n-supp-icon" src="images/netflixicon4.png">
							</div>

							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
								<div class="basicrow">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="basicrow f-big roboto-l">
												Cont&aacute;ctanos
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
											<div class="basicrow f-bmed roboto-b">
												Horario de Servicio al Cliente
											</div>

											<div class="basicrow f-med line-def-i m-top-ii">
												Lunes a Viernes: 8:00 a.m - 7:00 p.m<br/>
												S&aacute;bados y Domingos: 8:00 a.m - 5:00 p.m<br/>
												D&iacute;as Feriados: 8:00 a.m - 5:00 p.m
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
											<div class="basicrow h-mtop f-bmed roboto-b">
												Tel&eacute;fonos de Contacto
											</div>

											<div class="basicrow f-med line-def-i m-top-ii">
												Servicio al Cliente: <a href="tel:7877750000">787-775-0000</a><br/>
												&oacute; Marcando <a href="tel:*611">&#42;611</a> desde tu tel&eacute;fono celular.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<% include footer %>

	</div>

</script>
