<script type="text/template" id="netflix_redirect">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-top mbott">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-27"></span> Suscripci&oacute;n a Netflix
						</div>
					</div>

					<div class="basicrow mbott m-top-i">

						<div class="basicrow">

							<div class="basicrow f-reg f-black roboto-r text-justify">
								Serás redirigido al portal de netflix donde debes completar la suscripción de <span class="roboto-b">Servicios Netflix.</span>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top">
								<input id="checkbox-terms" type="checkbox">
								<label for="checkbox-terms"> Acepto los </label>
								<a class="linkdefs link-terms">
									T&eacute;rminos y Condiciones&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</a>
							</div>

							<div class="basicrow text-center m-top">
								<div class="btns def-i red pull-right vcenter rippleR" id="next">
									<span class="tabcell">
										Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
