<script type="text/template" id="password_step_2">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<div class="basicrow mbott">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4 col-md-offset-2 col-sm-offset-2 m-top-i">
							<div class="basicrow f-lsemi roboto-r text-center">
								<div class="basicrow">
									<img width="100%" class="mc-icon" src="images/reg-a-icon.png">
									&#191;Olvidaste tu contrase&ntilde;a&#63;
								</div>

								<div class="basicrow m-top-ii">
									<div class="logline"></div>
								</div>
							</div>

							<div class="basicrow f-reg f-black roboto-r m-top-i text-justify">
								Escoge entre las opciones para recuperación de acceso a tu cuenta.
							</div>

							<div class="basicrow">
								<div class="basicrow m-top-i">
									<label>
										<input id="radio-code" type="radio" name="group" value="first"/>
										<% if (isTelefonia) { %>
											V&iacute;a correo electr&oacute;nico
										<% } else { %>
											V&iacute;a SMS o correo electr&oacute;nico
										<% } %>
									</label>
								</div>

								<div class="basicrow m-top">
									<label>
									<input id="radio-question" type="radio" name="group" value="second" checked="checked"/>
										 Contestar preguntas de Seguridad
									</label>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div id="btn-next" class="btns red vcenter rippleR">
									<span class="tabcell">
										Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>