<script type="text/template" id="recharge_prepaid_success">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-24"></span> Recarga de Prepago
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="autowcont allpads">
						<div class="basicrow f-reg f-black roboto-r">
							<div class="basicrow f-big">
								Confirmaci&oacute;n de Recarga
							</div>

							<div class="basicrow m-top-i text-center">
								<div class="shortcont">
									<div class="green-confrm">
										<i class="fa fa-check-circle checkconfrm" aria-hidden="true"></i>

										<span class="roboto-b">&#161;Gracias por su pago&#33;</span><br/>
										se ha realizado exitosamente la recarga.
									</div>

									<div class="basicrow m-top">
										<div class="logline full"></div>
									</div>

									<div class="basicrow text-center m-top-i">
										Guarda o Imprime la siguiente informaci&oacute;n como evidencia de la transacci&oacute;n:
									</div>

									<div class="basicrow m-bott-ii m-top">
										<div class="userinfo full nomtops">
											<div class="basicrow">

												<div class="basicrow text-center m-top-u-i">
													<span class="roboto-b">
														N&uacute;mero de T&eacute;lefono
													</span>
													<br/>
													<span class="f-big roboto-b">
														<%= selectedSubscriberValue %>
													</span>
												</div>

												<div class="basicrow m-top">
													<div class="logline full"></div>
												</div>

												<div class="basicrow text-center m-top">
													<span class="roboto-b">
														Monto de la Recarga
													</span>
													<br>
													<span class="f-red f-semi roboto-m">
														&#36;<%= amount %>
													</span>
												</div>

												<div class="basicrow m-top">
													<div class="logline full"></div>
												</div>

												<div class="redstat m-top">
													<div class="autorow roboto-r pull-left">
														N&uacute;mero de Transacci&oacute;n
													</div>

													<div class="autorow roboto-b pull-right">
														<%= transactionId %>
													</div>
												</div>

												<div class="redstat m-top-ii">
													<div class="autorow roboto-r pull-left">
														N&uacute;mero de la Recarga
													</div>

													<div class="autorow roboto-b pull-right">
														<%= rechargeId %>
													</div>
												</div>

												<div class="redstat m-top-ii">
													<div class="autorow roboto-r pull-left">
														Fecha y Hora
													</div>

													<div class="autorow roboto-b pull-right">
														<%= paymentDate %>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="basicrow m-top">
										<div class="logline full"></div>
									</div>

									<div class="basicrow text-center m-top-i">
										<div id="close" class="btns def-i blue pull-left vcenter rippleB">
											<span class="tabcell">
												Cerrar
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>

