<script type="text/template" id="recharge_prepaid_payment">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-24"></span> Recarga de Prepago
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="autowcont allpads">
						<div class="basicrow f-reg f-black roboto-r">
							<div class="basicrow f-big">
								Pago de Recarga
							</div>

							<div class="dts-rcrg m-top-ii text-center">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="basicrow">
											<span class="roboto-b">N&uacute;mero de T&eacute;lefono</span><br/>
											<span class="f-big roboto-b"> <%= selectedSubscriberValue %> </span>
										</div>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="basicrow l-pline-i">
											<span class="roboto-b">Monto a Pagar</span><br/>
											<span class="f-lsemi roboto-b f-red">&#36;<%= totalAmount %></span>
										</div>
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow roboto-b f-bmed">
									Datos de la Tarjeta
								</div>

								<div class="basicrow roboto-b f-bmed m-top">
									Selecione método de pago:
								</div>

								<% if (ath != false) { %>
								<div class="basicrow">

									<div class="basicrow roboto-m f-reg m-top">
										Pagar con Ath:
									</div>

									<div class="basicrow">
										<div class="cred-opts prep">
											<div class="autocont vcenter">
												<div class="tabcell" style="padding-top: 12px">
													<input type="radio" name="card" data-id="<%= ath.id %>" data-card-type="AA" class="css-radio ath-check" disabled>
													<label class="css-label3"></label>
												</div>
											</div>

											<img width="60%" src="images/card-c.png">
										</div>
									</div>
								</div>
								<% } %>

								<% if (visa != false || master != false) { %>
								<div class="basicrow">

									<div class="basicrow roboto-m f-reg m-top">
										Pagar con Tarjeta Débito:
									</div>

									<div class="basicrow">
										<% if (visa != false) { %>
										<div class="cred-opts prep">
											<div class="autocont vcenter">
												<div class="tabcell" style="padding-top: 12px">
													<input type="radio" name="card" data-id="<%= visa.id %>" data-card-type="DV" class="css-radio" disabled>
													<label class="css-label3"></label>
												</div>
											</div>

											<img width="60%" src="images/card-a.png">
										</div>
										<% } %>

										<% if (master != false) { %>
										<div class="cred-opts prep">
											<div class="autocont vcenter">
												<div class="tabcell" style="padding-top: 12px">
													<input type="radio" name="card" data-id="<%= master.id %>" data-card-type="DM" class="css-radio" disabled>
													<label class="css-label3"></label>
												</div>
											</div>

											<img width="60%" src="images/card-b.png">
										</div>
										<% } %>

									</div>
								</div>
								<% } %>

								<% if (visa != false || master != false || american != false) { %>
								<div class="basicrow">

									<div class="basicrow roboto-m f-reg m-top">
										Pagar con Tarjeta Crédito:
									</div>

									<div class="basicrow">

										<% if (visa != false) { %>
										<div class="cred-opts prep">
											<div class="autocont vcenter">
												<div class="tabcell" style="padding-top: 12px">
													<input type="radio" name="card" data-id="<%= visa.id %>" data-card-type="CV" class="css-radio" disabled>
													<label class="css-label3"></label>
												</div>
											</div>

											<img width="60%" src="images/card-a.png">
										</div>
										<% } %>

										<% if (master != false) { %>
										<div class="cred-opts prep">
											<div class="autocont vcenter">
												<div class="tabcell" style="padding-top: 12px">
													<input type="radio" name="card" data-id="<%= master.id %>" data-card-type="CM" class="css-radio" disabled>
													<label class="css-label3"></label>
												</div>
											</div>

											<img width="60%" src="images/card-b.png">
										</div>
										<% } %>

										<% if (american != false) { %>
										<div class="cred-opts prep">
											<div class="autocont vcenter">
												<div class="tabcell" style="padding-top: 12px">
													<input type="radio" name="card" data-id="<%= american.id %>" data-card-type="CA" class="css-radio" disabled>
													<label class="css-label3"></label>
												</div>
											</div>

											<img width="60%" src="images/card-d.png">
										</div>
										<% } %>

									</div>
								</div>
								<% } %>

							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">
									&#42; Nombre y Apellido
								</label>

								<input id="card-name" type="text" class="inp-f">
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">
									&#42; N&uacute;mero de Tarjeta
								</label>

								<input id="card-number" type="number" class="inp-f">
							</div>


							<div class="basicrow m-bott-ii">
								<div class="row">
									<div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 m-top-i">
										<label class="label-f">
											&#42; Vencimiento de Tarjeta
										</label>

										<div class="basicrow">
											<div class="row">
												<div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
													<div class="exprdtitle roboto-b vcenter">
														<div class="tabcell">
															Mes
														</div>
													</div>

													<select id="select-month" class="sel-f exprdsize">
														<% _.each(months, function(value, index) { %>
														<option value="<%= value %>">
															<%= value %>
														</option>
														<% }); %>
													</select>
												</div>

												<div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 h-mtop-iv">
													<div class="exprdtitle roboto-b vcenter">
														<div class="tabcell">
															A&ntilde;o
														</div>
													</div>

													<select id="select-year" class="sel-f exprdsize">
														<% _.each(years, function(value, index) { %>
														<option value="<%= value.slice(-2) %>">
															<%= value %>
														</option>
														<% }); %>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 m-top-i" id="container-cvv">
										<label class="label-f">
											&#42; C&oacute;digo de Seguridad (CVV)
										</label>

										<input id="card-cvv" type="number" style="-webkit-text-security:disc;" class="inp-f">
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">

								<div class="basicrow roboto-b f-bmed">
									Dirección Postal de la Tarjeta
								</div>

								<% _.each(addresses, function(address, index) { %>

								<div class="basicrow">
									<div class="mnts-rcrg" style="width: 100%; margin: 20px 0 0; white-space: nowrap; overflow: hidden;">
										<div class="checkrcrg">
											<input type="radio" data-address="<%= address.address %>" name="address" id="radioA<%= index %>" class="css-radio" value="<%= address.zipcode %>"><label for="radioA<%= index %>" class="css-label3 radGroup1"></label>
										</div>

										<%= address.address %>
									</div>
								</div>

								<% }); %>

							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top-i m-bott-ii">
								<div class="btns red def-i pull-right vcenter rippleR" id="next">
									<span class="tabcell">
										Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>

								<div class="btns gray def-i pull-left vcenter" id="cancel">
									<span class="tabcell">
										Cancelar
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
